@import '../../sass/colors/colors.scss';

.blog-post-card {
  max-width: 300px;
  border-radius: 12px;
  box-shadow: 9px 8px 19px -8px rgba(0, 0, 0, 0.25);
  background-color: $theme-gray-2;
  margin: 0px 20px;

  & img {
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
  }

  & .post-info {
    padding: .5rem;

    & .date {
      text-align: end;
    }
  }
}