.header {
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0rem 0.25rem;
  justify-content: space-between;
  background-color: #222;
  box-shadow: 0px -10px 16px 0px;
}

.brand-container {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  & :hover {
    text-decoration: none;
  }
}

.brand-logo {
  height: 90%;
}
.brand-name {
  padding: 0rem 0.5rem;
}

.spacer {
  height: 50px;
  width: 100vw;
}

a:hover {
  text-decoration: none !important;
  color: #00bc8c;
}