.header {
  height: 100px;
  display: flex;
  align-items: center;

  & .logo {
    width: 100px;
    height: auto;

    & img {
      width: 100%;
    }
  }

  & .site-title {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
}